{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block title %} Каталог {% endblock %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static 'js/catalog-src.js' %}"></script>

    <div class="my-nav-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li><a href="/">Главная</a></li>
                        <li class="active">Корзина</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Корзина</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped media-middle">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for q, item in cart_data %}
                        <tr class="my-cart-item">
                            <td>
                                <div class="row-eq-height vertical-align">
                                    <div class="col-md-6">
                                        <img alt="{{ item.title }}" src="{{ item.img.url }}">
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ item.title }}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="my-vertical-align">{{ q }}</td>
                            <td class="my-vertical-align">{{ item.price }} руб.</td>
                            <td class="my-vertical-align"><span id="{{ item.id }}" class="glyphicon glyphicon-remove-sign delete"></span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="row">
                    <h2> ИТОГО: {{ cart.total_price }} руб.</h2>
                </div>
                <div class="row text-right">
                    <div class="col-md-6 text-right">
                        {{ form.render }}
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-lg btn-success">
                            Оформить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}