{% extends 'mainapp/base.html' %}

{% block title %}
    Каталог
{% endblock %}

{% block content %}
    <div class="my-nav-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li><a href="#">Главная</a></li>
                        <li class="active">Каталог</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 center-block">
                <h1>Каталог</h1>
            </div>
        </div>
        <div class="row">
            {% for key, val in dict.items %}
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                {{ key }}
                            </h4>
                        </a>
                        {% for v in val %}
{#                            <a class="list-group-item">#}
                                <a class="list-group-item" href="/catalog/elec">{{ v }}</a>
{#                            </a>#}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}