{% extends "mainapp/base.html" %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static 'js/catalog-src.js' %}"></script>

    <div class="my-nav-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Каталог</a></li>
                        <li class="active">Электроинструменты</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>

    <div id="my-catalog">
        <div class="container">
            <div class="row hidden-lg">
                <div class="col-md-12">
                    <button type="button" id="filter" data-placement="right" data-trigger="focus" data-toggle="popover" class="btn btn-default">Фильтры</button>
                </div>
            </div>
            <div class="row">
                <div id="my-catalog-prop" class="col-md-3 hidden-sm hidden-xs hidden-md">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <h4 class="text-primary ">Фильтры</h4>
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Цена</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="price_low" class="col-md-1 control-label">от</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="price_low">
                                            </div>
                                            <label for="price_top" class="col-md-1 control-label">до</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="price_top">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div id="my-catalog-table" class="col-lg-9 col-md-12">
                    {% for row in dict %}
                        <div class="row">
                            {% for el in row %}
                                <div class="col-md-4">
                                    <div class="panel my-cat-item">
                                        <div class="panel-body">
                                            <img alt="{{ el.title }}" src="{% static '' %}{{ el.img_url }}">
                                            <div class="my-item-title text-center">
                                                <a href="#"><span class="text-primary">{{ el.title }}</span></a>
                                            </div>
                                            <div class="row">
                                                <div class="row-eq-height vertical-align">
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="text-info text-center">{{ el.price }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6">
                                                        <button type="button" id="{{ el.id }}" class="add btn btn-responsive btn-primary">
                                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                                            В корзину
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
