{% extends "mainapp/base.html" %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static 'js/catalog-src.js' %}"></script>

    <div class="my-nav-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li><a href="/catalog/">Каталог</a></li>

                        {% for el in nav_bar %}
                            <li><a href="/catalog/{{ el.translit_title }}">{{ el }}</a> </li>
                        {% endfor %}
                    </ol>

                </div>
            </div>
        </div>
    </div>

    <div id="my-catalog">
        <div class="container">
            <div class="row hidden-lg">
                <div class="col-md-12">
                    <button type="button" id="filter" data-placement="right" data-trigger="focus" data-toggle="popover"
                            class="btn btn-default">Фильтры
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="my-catalog-prop" class="col-md-3 hidden-sm hidden-xs hidden-md">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <h4 class="text-primary ">Фильтры</h4>
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Цена</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="price_low" class="col-md-1 control-label">от</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="price_low">
                                            </div>
                                            <label for="price_top" class="col-md-1 control-label">до</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="price_top">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div id="my-catalog-table" class="col-lg-9 col-md-12">
                    {% for item in products %}
                        <div class="col-md-4">
                            <div class="panel my-cat-item">
                                <div class="panel-body">
                                    <img alt="{{ item.title }}" src="{{ item.img.url }}">
                                    <div class="my-item-title text-center">
                                        <a href="/products/{{ item.translit_title }}"><span class="text-primary">{{ item.title }}</span></a>
                                    </div>
                                    <div class="row">
                                        <div class="row-eq-height vertical-align">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="text-info text-center">{{ item.price }} руб.</div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <button type="button" id="{{ item.id }}"
                                                        class="add btn btn-responsive btn-primary">
                                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                                    В корзину
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
