{% extends 'mainapp/base.html' %}


{% block title %} {{ product.title }} {% endblock %}


{% block content %}
    {% load staticfiles %}
    <script src="{% static 'js/item.js' %}"></script>

    <div class="my-nav-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" style="margin-bottom: 5px;">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/catalog/">Каталог</a></li>
                        <li><a href="/catalog/elec/">Электроинструменты</a></li>
                        <li class="active">{{ product.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <img alt="{{ product.title }}" src="{% static 'img/shurvert.jpg' %}" height="300">
                <div class="row">
                    <img alt="{{ product.title }}" src="{% static 'img/shurvert.jpg' %}" height="50">
                    <img alt="{{ product.title }}" src="{% static 'img/shurvert.jpg' %}" height="50">
                    <img alt="{{ product.title }}" src="{% static 'img/shurvert.jpg' %}" height="50">
                    <img alt="{{ product.title }}" src="{% static 'img/shurvert.jpg' %}" height="50">
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="text-primary text-center">{{ product.title }}</h2>
                <ul class="my-main-feature">
{#                    {% for feature in dict.main_feature %}#}
{#                        <li>{{ feature }}</li>#}
{#                    {% endfor %}#}
                </ul>
                <br>
                <hr>
                <div class="row-eq-height vertical-align">
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <div class="text-info text-left my-item-price">{{ product.price }} руб.</div>
                    </div>
                    <div class="col-md-6 center-block hidden-md hidden-lg">
                        <div class="text-info  my-item-price">{{ product.price }}</div>
                    </div>

                    <div class="col-md-6 text-center center-block">
                        <button type="button" id="{{ product.id }}" class="add btn btn-lg btn-responsive btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            В корзину
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Описание</a></li>
                    <li><a data-toggle="tab" href="#menu1">Подробные характеристики</a></li>
                    <li><a data-toggle="tab" href="#menu2">Отзывы</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>{{ product.title }}</h3>
                        <hr>
                        <p> {{ product.description }} </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>{{ product.title }}</h3>
                        <hr>
                        <p> {{ product.description }} </p>
                        <table class="table table-striped">
                            <tbody>
{#                            {% for key, val in dict.prop.items %}#}
{#                                <tr>#}
{#                                    <td>{{ key }}</td>#}
{#                                    <td>{{ val }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
                            </tbody>
                        </table>

                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Тут будут отзывы, пока не знаю какие, наверное, просто через формочку</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}